@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans|Source+Sans+Pro');

a {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h {
	font-family: 'Open Sans', sans-serif;
}

#nav {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}

#nav li {
	float: left;
	vertical-align: bottom;
}

#nav li a {
	display: block;
	color: black;
	text-align: center;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 5px;
	text-decoration: none;
}

#nav li a:hover {
	text-decoration: underline;
}

#proj {

}

#proj li {
	list-style: none;
}

#proj li a {
	text-decoration: underline;
	color: black;
}

#proj li a:hover{
	text-decoration: none;
	color: black;
}

.image-box {
	display: inline-block;
    vertical-align: middle;
	width: 640px;
	height: 518px;
	margin: 10px;
}

.list-box {
	display: inline-block;
    vertical-align: middle;
	width: 250px;
	height: 498px;
	margin: 5px;
	padding: 10px;
}

.title {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	height: 120px;
	margin: 10px;
}

.statement {
	display: inline-block;
	vertical-align: middle;
	width: 700px;
	height: 150px;
	margin: 10px;
	font-size: 85%;
	overflow-x: visible;
}


#slides {
	list-style: none; 
	padding: 5px;
}

.wrap {
	overflow: auto;
	white-space:nowrap;
}

.wrap li {
	margin: 0 10px;
	display: inline;
}

.about-box {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	height: 300px;
	margin: 10px;
	padding: 10px;
}

.about-image-box {
	display: inline-block;
	vertical-align: middle;
	width: 900px;
	height: 640px;
	margin: 10px;
}

.contact-box {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	height: 300px;
	margin: 10px;
	padding: 10px;
}

.contact-image-box {
	display: inline-block;
	vertical-align: middle;
	background-image: url("https://c2.staticflickr.com/4/3937/33315861544_370ca3bfaf_z.jpg");
	width: 512px;
	height: 640px;
	margin: 10px;
}

.contact-image-box:hover {
	background-image: url(https://c1.staticflickr.com/3/2884/33773750970_a353490398_z.jpg);
}

#contact-image a {
	background-image: url("https://c2.staticflickr.com/4/3937/33315861544_370ca3bfaf_z.jpg");
	width: 512px;
	height: 640px;
}

#contact-image a:hover {
	background-image: url(https://c1.staticflickr.com/3/2884/33773750970_a353490398_z.jpg);
}