body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}


h1 {
	color: #ffffff;
	font-size: 56px; 
}

.nav-bar{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    height: 50px;
    display: block;
}

.nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav li {
    display: block;
    position: relative;
    margin: 5px;
    background-color: white;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

.nav li a {
    display: block;
    padding: 5px 5px 5px 5px;
    height: 20px;
    text-decoration: none;
    text-align: center;
}

.home{
    font-family: 'Trebuchet MS', 'Helvetica';
    color: #000000;
	font-size: 2em;
}

.hero {
	background-image: url('https://c2.staticflickr.com/8/7562/15783183147_70ef659a66_b.jpg');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}


p {
	color: #ffffff;
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
