body {
	font-family: 'Futura', 'Helvetica';
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}


h1 {
	color: #DCDCDC;
	font-size: 56px; 
}

.nav-bar{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    height: 50px;
    display: block;
    color: black;
}

#nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#nav li {
    display: block;
    position: relative;
    margin: 5px;
    background-color: white;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

#nav li a {
    display: block;
    padding: 5px 5px 5px 5px;
    height: 20px;
    text-decoration: none;
    text-align: center;
}

/* unvisited link */
a:link {
    color: #6699cc;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #6699cc;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: black;
    text-decoration: underline;
}

.home{
    font-family: 'Trebuchet MS', 'Helvetica';
    color: #000000;
	font-size: 2em;
}

.heroa {
	background-image: url('OldRagRock.jpg');
	background-position: center top;
	background-size: cover;
	background-color: white;
	padding: 250px 0;
	margin: 30px;
	font-family: 'Futura', 'Helvetica';
}

.heroa a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

.herob {
	background-image: url('MaineDock.jpg');
	background-position: center top;
	background-size: cover;
	background-color: white;
	padding: 250px 0;
	margin: 30px;
	font-family: 'Futura', 'Helvetica';


p {
	color: white;
	font-size: 2em;
}

.herob a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

/* Slides */

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
}
.swiper-container {
	width: 100%;
	height: 300px;
	margin: 20px auto;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 60%;
        
/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide:nth-child(2n) {
	width: 40%;
}

.swiper-slide:nth-child(3n) {
	width: 20%;
}
/* End Slides */


.footer {
	color: DarkSlateGray;
	font-size: 16px;
}
